<div class="color-selection search-box">
  <strong class="heading">Select <%=images.first.try(:class).try(:name)%></strong>
  <ul class="logo-list">
    <%-images.each do |obj|%>
        <li><a class="active" href="#" data-remote="true" ><img src="<%=obj.image.url%>" class="graphic-image" data-model="<%=obj.class.name == "Logo" ? "logo" : "graphic"%>" data-placement="<%=current_user.try(:placement)%>" data-object="<%=obj.try(:id)%>" data-placement-pos="<%=current_user.try(:placement_pos)%>" data-image="<%=obj.image%>"></a><span class="tile-view-text"><%=obj.try(:category)%></span></li>
    <%end%>
  </ul>
</div>
