<main id="main">
  <div class="container">
    <div class="custom-container">
      <div class="main-heading">
        <h1>Decoration</h1>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="options-btn">
            <a href="#" class="btn btn-default">Save</a>
            <a href="#" class="btn btn-primary">Place Order</a>
            <a href="#" class="btn btn-default">Share</a>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="box">
                <span class="corner1"></span>
                <span class="corner2"></span>
                <span class="corner3"></span>
                <span class="corner4"></span>
                <div class="image-holder">
                  <%=show_svg(@style.try(:front).try(:url)) if @style.try(:front)%>
                </div>
                <div class="scale">
                  <a href="#" class="scaltext">+</a>
                  <span href="#" class="scalslide">
                                            <a href="#" class="slidebtn"></a>
                                        </span>
                  <a href="#" class="scaltext">-</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6" id="color_1" data-color1="<%= @color.first%>">
              <div class="box" id="color_3" data-color3="<%= @color.last%>">
                <span class="corner1 active"></span>
                <span class="corner2 active"></span>
                <span class="corner3 active"></span>
                <span class="corner4 active"></span>
                <div class="image-holder" id="color_2" data-color2="<%= @color.second%>">
                  <%=show_svg(@style.try(:back).try(:url)) if @style.try(:back)%>
                </div>
                <div class="scale">
                  <a href="#" class="scaltext">+</a>
                  <span href="#" class="scalslide">
                                            <a href="#" class="slidebtn"></a>
                                        </span>
                  <a href="#" class="scaltext">-</a>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive table-area">
            <table class="table">
              <thead>
              <tr>
                <th>Color</th>
                <th>XS</th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>2XL</th>
                <th>3XL</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>A4 Finder</td>
                <td>36</td>
                <td>36</td>
                <td>36</td>
                <td>36</td>
                <td>36</td>
                <td>36</td>
                <td>36</td>
                <td>Case QTY</td>
              </tr>
              <tr>
                <td><input type="color" name=""></td>
                <td>13.65</td>
                <td>13.65</td>
                <td>13.65</td>
                <td>13.65</td>
                <td>13.65</td>
                <td>13.65</td>
                <td>13.65</td>
                <td>Frosh Price</td>
              </tr>
              <tr>
                <td>Scarlet</td>
                <td>10.20</td>
                <td>10.20</td>
                <td>10.20</td>
                <td>10.20</td>
                <td>11.20</td>
                <td>13.20</td>
                <td>12.20</td>
                <td>Prime Price</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="sidebar col-lg-4 col-md-4 col-sm-12">
          <div class="options-btn sidebar-btn">
            <a href="#" class="btn btn-default">UJLJSGM - MENS CUSTOm Baseball Jersey....</a>
          </div>
          <div class="panel-group selected-decoration" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading active" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class=""><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">Decoration Packages</span></a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" style="">
                <div class="panel-body">
                  <div class="tile-view text-color">
                    <h2  class="heading">Select a Decoration Package ( if desired)</h2>
                    <p>A Decoration Package is simply a starting point - you may alter it as you create your uniform. Youmay also simply your own decorationsor skip the Decorations step completey</p>
                    <div class="options-btn ">
                      <a href="#" class="btn btn-default btn-block">Create My Own Decorations</a>
                      <a href="#" class="btn btn-primary btn-block">Skip Decorations</a>
                    </div>
                    <div class="package-holder">
                      <div class="image-holder">
                        <%=image_tag "img-17.png", alt: "image-description"%>
                      </div>
                      <div class="options-btn ">
                        <a href="#" class="btn btn-default btn-block">Tema Name & Number (LL) : 1 Color (BB) (184)</a>
                      </div>
                    </div>
                    <div class="package-holder">
                      <div class="image-holder">
                        <%=image_tag "img-17.png", alt: "image-description"%>
                      </div>
                      <div class="options-btn ">
                        <a href="#" class="btn btn-default btn-block">Tema Name & Number (LL) : 1 Color (BB) (184)</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="options-btn option-btn-side">
            <a href="#" class="btn btn-default">Cancel</a>
            <a href="#" class="btn btn-primary">Accept</a>
          </div>
          <div class="options-btn sidebar-btn">
            <a href="#" class="btn btn-default location">Add a Location</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>