<main id="main">
  <div class="container">
    <div class="custom-container">
      <div class="main-heading">
        <h1>Select Your Sport</h1>
      </div>
      <div class="check-list">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <form action="#" class="nice-form card-area">
              <label for="check-2">
                <input id="check-2" checked="checked" type="checkbox">
                <span class="fake-input"></span>
                <span class="fake-label">
                              <span class="image-holder">
                                <%= image_tag("img-02.png") %>
                              </span>
                              <span class="text">BASEBALL/SOFTBALL</span>
                          </span>
              </label>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <form action="#" class="nice-form card-area">
              <label for="check-3">
                <input id="check-3" checked="checked" type="checkbox">
                <span class="fake-input"></span>
                <span class="fake-label">
                              <span class="image-holder">
                                <%= image_tag("img-03.png") %>
                              </span>
                              <span class="text">BASEBALL/SOFTBALL</span>
                          </span>
              </label>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <form action="#" class="nice-form card-area">
              <label for="check-4">
                <input id="check-4" checked="checked" type="checkbox">
                <span class="fake-input"></span>
                <span class="fake-label">
                              <span class="image-holder">
                                <%= image_tag("img-04.png") %>
                              </span>
                              <span class="text">BASEBALL/SOFTBALL</span>
                          </span>
              </label>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <form action="#" class="nice-form card-area">
              <label for="check-5">
                <input id="check-5" checked="checked" type="checkbox">
                <span class="fake-input"></span>
                <span class="fake-label">
                              <span class="image-holder">
                                <%= image_tag("img-05.png") %>
                              </span>
                              <span class="text">BASEBALL/SOFTBALL</span>
                          </span>
              </label>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <form action="#" class="nice-form card-area">
              <label for="check-6">
                <input id="check-6" checked="checked" type="checkbox">
                <span class="fake-input"></span>
                <span class="fake-label">
                              <span class="image-holder">
                                <%= image_tag("img-06.png") %>
                              </span>
                              <span class="text">BASEBALL/SOFTBALL</span>
                          </span>
              </label>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <form action="#" class="nice-form card-area">
              <label for="check-7">
                <input id="check-7" checked="checked" type="checkbox">
                <span class="fake-input"></span>
                <span class="fake-label">
                              <span class="image-holder">
                                <%= image_tag("img-07.png") %>
                              </span>
                              <span class="text">BASEBALL/SOFTBALL</span>
                          </span>
              </label>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <form action="#" class="nice-form card-area">
              <label for="check-8">
                <input id="check-8" checked="checked" type="checkbox">
                <span class="fake-input"></span>
                <span class="fake-label">
                              <span class="image-holder">
                                <%= image_tag("img-08.png") %>
                              </span>
                              <span class="text">BASEBALL/SOFTBALL</span>
                          </span>
              </label>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <form action="#" class="nice-form card-area">
              <label for="check-9">
                <input id="check-9" checked="checked" type="checkbox">
                <span class="fake-input"></span>
                <span class="fake-label">
                              <span class="image-holder">
                                <%= image_tag("img-09.png") %>
                              </span>
                              <span class="text">BASEBALL/SOFTBALL</span>
                          </span>
              </label>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <form action="#" class="nice-form card-area">
              <label for="check-10">
                <input id="check-10" checked="checked" type="checkbox">
                <span class="fake-input"></span>
                <span class="fake-label">
                              <span class="image-holder">
                                <%= image_tag("img-10.png") %>
                              </span>
                              <span class="text">BASEBALL/SOFTBALL</span>
                          </span>
              </label>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <form action="#" class="nice-form card-area">
              <label for="check-11">
                <input id="check-11" checked="checked" type="checkbox">
                <span class="fake-input"></span>
                <span class="fake-label">
                              <span class="image-holder">
                                <%= image_tag("img-11.png") %>
                              </span>
                              <span class="text">BASEBALL/SOFTBALL</span>
                          </span>
              </label>
            </form>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <form action="#" class="nice-form card-area">
              <label for="check-12">
                <input id="check-12" checked="checked" type="checkbox">
                <span class="fake-input"></span>
                <span class="fake-label">
                              <span class="image-holder">
                                <%= image_tag("img-12.png") %>
                              </span>
                              <span class="text">BASEBALL/SOFTBALL</span>
                          </span>
              </label>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>