<main id="main">
  <div class="container">
    <div class="custom-container">
      <div class="main-heading">
        <h1>options</h1>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="options-btn">
            <%=link_to "Save",  "", class: "btn btn-default"%>
            <%=link_to "Place Order", "",class: "btn btn-primary"%>
            <%=link_to "Share", "",class: "btn btn-default"%>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="box">
                <span class="corner1"></span>
                <span class="corner2"></span>
                <span class="corner3"></span>
                <span class="corner4"></span>
                <div class="image-holder" id="zoom_front" data-zoom-image="<%@style.try(:front).try(:url)%>">
                  <%#=render partial: "svg_code"%>
                  <%=show_svg(@style.try(:front).try(:url)) if @style.try(:front)%>
                </div>  
<!--                 <div class="scale">
                  <a href="#" class="scaltext">+</a>
                  <span href="#" class="scalslide">
                                          <a href="#" class="slidebtn"></a>
                                      </span>
                  <a href="#" class="scaltext">-</a>
                </div>
 -->              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="box">
                <span class="corner1 active"></span>
                <span class="corner2 active"></span>
                <span class="corner3 active"></span>
                <span class="corner4 active"></span>
                <div class="image-holder" id="zoom_back" data-zoom-image="<%@style.try(:front).try(:url)%>">
                  <%=show_svg(@style.try(:back).try(:url)) if @style.try(:back)%>
                  <%#=image_tag(@style.back.url || "img-14.png", id: "zoom_back", data:{ zoom_image: @style.back.url})%>
                </div>
<!--                 <div class="scale">
                  <a href="#" class="scaltext">+</a>
                  <span href="#" class="scalslide">
                                          <a href="#" class="slidebtn"></a>
                                      </span>
                  <a href="#" class="scaltext">-</a>
                </div>
 -->              </div>
            </div>
          </div>
          <div class="tile-view">
            <ul>
              <li><a class="active" href="#"><%=image_tag(@style.try(:front).try(:url) || "img-14samall.png")%></a><span class="tile-view-text">front</span></li>
              <li><a href="#"><%=image_tag(@style.try(:back).try(:url) || "img-13samall.png")%></a><span class="tile-view-text">Back</span></li>
            </ul>
          </div>
          <!--<div class="table-responsive table-area">-->
            <!--<table class="table">-->
              <!--<thead>-->
              <!--<tr>-->
                <!--<th>Color</th>-->
                <!--<th>XS</th>-->
                <!--<th>S</th>-->
                <!--<th>M</th>-->
                <!--<th>L</th>-->
                <!--<th>XL</th>-->
                <!--<th>2XL</th>-->
                <!--<th>3XL</th>-->
                <!--<th></th>-->
              <!--</tr>-->
              <!--</thead>-->
              <!--<tbody>-->
              <!--<tr>-->
                <!--<td>A4 Finder</td>-->
                <!--<td>36</td>-->
                <!--<td>36</td>-->
                <!--<td>36</td>-->
                <!--<td>36</td>-->
                <!--<td>36</td>-->
                <!--<td>36</td>-->
                <!--<td>36</td>-->
                <!--<td>Case QTY</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td><input type="color" name=""></td>-->
                <!--<td>13.65</td>-->
                <!--<td>13.65</td>-->
                <!--<td>13.65</td>-->
                <!--<td>13.65</td>-->
                <!--<td>13.65</td>-->
                <!--<td>13.65</td>-->
                <!--<td>13.65</td>-->
                <!--<td>Frosh Price</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>Scarlet</td>-->
                <!--<td>10.20</td>-->
                <!--<td>10.20</td>-->
                <!--<td>10.20</td>-->
                <!--<td>10.20</td>-->
                <!--<td>11.20</td>-->
                <!--<td>13.20</td>-->
                <!--<td>12.20</td>-->
                <!--<td>Prime Price</td>-->
              <!--</tr>-->
              <!--</tbody>-->
            <!--</table>-->
          <!--</div>-->
        </div>
        <div class="sidebar col-lg-4 col-md-4 col-sm-12">
          <div class="options-btn sidebar-btn">
            <a href="#" class="btn btn-default"><%=@style.try(:style_code)%> - <%=sport.try(:sport_name)%> <%=gender.try(:gender)%> <%=category.try(:garment_category)%></a>
          </div>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading active" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class=""><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">body</span></a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" style="">
                <div class="panel-body">
                  <div class="view">
                    <a href="#" class="glyphicon glyphicon-eye-open"></a>
                    <a href="#" class="glyphicon glyphicon-th"></a>
                  </div>

                  <ul class="color-pelat">
                    <%- @tile_1.present? && @tile_1.each do |tile_1|%>
                        <li data-color="<%=tile_1.hex_code%>" class="text-color" style="background-color:<%=tile_1.hex_code%> !important;color: <%=tile_1.tile_text_color%> !important;" id="one_tile"><%=tile_1.colour_code[0..2].try(:upcase)%></li>
                    <%end%>
                  </ul>

                  <ul class="color-pelat two-tile">
                    <%-@tile_2.present? && @tile_2.each do |tile_2|%>
                        <li data-color1="<%=tile_2.hex_code.split(',').first%>"  data-color2="<%=tile_2.hex_code.split(',').last%>" class="" id="two_tiles">
                          <div class="col text-color" style="background-color:<%=tile_2.hex_code.split(',').try(:first)%> !important;color: <%=tile_2.tile_text_color%> !important;"><%=tile_2.colour_code.split(',').first[0..2].try(:upcase)%></div>
                          <div class="col text-color" style="background-color:<%=tile_2.hex_code.split(',').try(:last)%> !important;color: <%=tile_2.tile_text_color%> !important;"><%=tile_2.colour_code.split(',').last[0..2].upcase%></div>
                        </li>
                    <%end%>
                  </ul>
                  <ul class="color-pelat three-tile">
                    <%-@tile_3.present? && @tile_3.each do |tile_3|%>
                        <li data-color1="<%=tile_3.hex_code.split(',').first%>"  data-color2="<%=tile_3.hex_code.split(',').second%>" data-color3="<%=tile_3.hex_code.split(',').last%>" class="" id="three_tiles">
                          <div class="col text-color" style="background-color:<%=tile_3.hex_code.split(',').try(:first)%> !important;color: <%=tile_3.tile_text_color%> !important;"><%=tile_3.colour_code.split(',').first[0..2].upcase%></div>
                          <div class="col text-color" style="background-color:<%=tile_3.hex_code.split(',').try(:second)%> !important;color: <%=tile_3.tile_text_color%> !important;"><%=tile_3.colour_code.split(',').second[0..2].upcase%></div>
                          <div class="col text-color" style="background-color:<%=tile_3.hex_code.split(',').try(:last)%> !important; color: <%=tile_3.tile_text_color%> !important;"><%=tile_3.colour_code.split(',').last[0..2].upcase%></div>
                        </li>
                    <%end%>
                    <!--<li data-color1="red"  data-color2="blue" data-color3="green" class="" id="three_tiles">-->
                      <!--<div class="col bg-red">RE</div>-->
                      <!--<div class="col bg-blue">BL </div>-->
                      <!--<div class="col bg-green">GR </div>-->
                    <!--</li>-->
                    <!--<li data-color1="green"  data-color2="red" data-color3="blue" class="" id="three_tiles">-->
                      <!--<div class="col bg-green">GR</div>-->
                      <!--<div class="col bg-red">RE </div>-->
                      <!--<div class="col bg-blue">BL </div>-->
                    <!--</li>-->
                    <!--<li data-color1="green"  data-color2="blue" data-color3="red" class="" id="three_tiles">-->
                      <!--<div class="col bg-green">GR</div>-->
                      <!--<div class="col bg-blue">BL</div>-->
                      <!--<div class="col bg-red">RE </div>-->
                    <!--</li>-->
                  </ul>
                </div>
              </div>
            </div>
            <!--<div class="panel panel-default">-->
              <!--<div class="panel-heading" role="tab" id="headingTwo">-->
                <!--<h4 class="panel-title">-->
                  <!--<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">Charcoal</span></a>-->
                <!--</h4>-->
              <!--</div>-->
              <!--<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">-->
                <!--<div class="panel-body">-->
                  <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          </div>
          <!--<div class="panel-group panel-group2" id="accordion2" role="tablist" aria-multiselectable="true">-->
            <!--<div class="panel panel-default">-->
              <!--<div class="panel-heading active" role="tab" id="headingOne">-->
                <!--<h4 class="panel-title">-->
                  <!--<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2One" aria-expanded="true" aria-controls="collapseOne" class=""><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span><span class="tabtitle">Team Name</span></a>-->
                <!--</h4>-->
              <!--</div>-->
              <!--<div id="collapse2One" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" style="">-->
                <!--<div class="panel-body">-->
                  <!--<div class="font-setting">-->
                    <!--<ul>-->
                      <!--<li><a href="#"><%=image_tag "color-img.png"%><span class="img-label">Color</span></a></li>-->
                      <!--<li><a href="#"><%=image_tag "font-img.png"%><span class="img-label">Font</span></a></li>-->
                      <!--<li><a href="#"><%=image_tag "size-img.png"%><span class="img-label">Size</span></a></li>-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="panel panel-default">-->
              <!--<div class="panel-heading" role="tab" id="headingTwo">-->
                <!--<h4 class="panel-title">-->
                  <!--<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2Two" aria-expanded="false" aria-controls="collapseTwo"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span><span class="tabtitle">Numbers</span> </a>-->
                <!--</h4>-->
              <!--</div>-->
              <!--<div id="collapse2Two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">-->
                <!--<div class="panel-body">-->
                  <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="panel panel-default">-->
              <!--<div class="panel-heading" role="tab" id="headingTwo">-->
                <!--<h4 class="panel-title">-->
                  <!--<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2Three" aria-expanded="false" aria-controls="collapseTwo"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span><span class="tabtitle">Logos</span></a>-->
                <!--</h4>-->
              <!--</div>-->
              <!--<div id="collapse2Three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">-->
                <!--<div class="panel-body">-->
                  <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="options-btn option-btn-side">
            <%=link_to "Previous", :back, class: "btn btn-default"%>
            <%=link_to "next", decorations_path(style:@style.try(:id)), class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
<!--<script>-->
//    var $j = jQuery.noConflict();
//      #$('#zoom_back').elevateZoom();
//      $('#zoom_front').elevateZoom();
<!--</script>-->
