<body class="home-page">
<div id="wrapper" class="home-wrapper">
  <div id="header">
    <ul class="login-area">
      <li class="item1"><a href="#">Item1</a></li>
      <li class="signin">
        <%= link_to 'Sign In', new_user_session_path, data: {toggle: "modal", target: "#signinModal",id:"#signinModal"} %>
<!--         <a href="#myModal" class="" data-toggle="modal" data-target="#myModal">Sign In</a> 
 -->      </li>
      <li class="signin"><a href="#">Sign Out</a></li>
    </ul>
  </div>
  <main id="main">
    <div class="content">
      <div class="home-img-holder col-md-4">
        <%=image_tag "img-01.png", class:"img-responsive", alt:"img description"%>
      </div>
      <div class="detail-holder col-md-8">
        <div class="detail">
          <h1>Uniform Builder</h1>
          <p>By selecting START, you will begin at Step 1 of the uniform building process. It is easy to use, just follow along through the steps! If you have saved a uniform and want to revisit it, select MY MOCK-UPS and you can pick-up where you left off or move efficiently toward placing your order!</p>
          <div class="btn-holder">
            <%=link_to "Start NOw", pages_sports_path, class: "btn btn-primary"%>
            <%=link_to "How to use configurator", pages_sports_path, class: "btn btn-primary"%>
          </div>
        </div>
        <div class="img-holder">
          <ul>
            <li>
              <div class="img-holder">
                <%=link_to((image_tag "img-02.jpg", alt:"image description"),pages_gender_path)%>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <%=link_to((image_tag "img-03.jpg", alt:"image description"), pages_gender_path)%>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <%=link_to((image_tag "img-04.jpg", alt:"image description"), pages_gender_path)%>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
