<div id="wrapper" class="gender">
  <div id="header">
    <div class="container">
      <ul class="login-area">
        <li class="item1"><a href="#">Item1</a></li>
        <a href="#signinModal" class="" data-toggle="modal" data-target="#signinModal">Sign In</a> 
        <li class="signout"><a href="#">Sign Out</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag("logo.png", :alt => "") %></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">Sports</a></li>
            <li><a href="#">Gender</a></li>
            <li><a href="#">CATEGORY</a></li>
            <li><a href="#">Style</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Options</a></li>
            <li><a href="#">Decoration</a></li>
            <li><a href="#">Summary</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
  <main id="main">
    <div class="container">
      <div class="custom-container">
        <div class="main-heading">
          <h1>Select Your Sport</h1>
        </div>
        <div class="check-list">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <form action="#" class="nice-form card-area">
                <label for="check-2">
                  <input id="check-2" checked="checked" type="checkbox">
                  <span class="fake-input"></span>
                            <span class="fake-label">
                                <span class="image-holder">
                                  <%= image_tag("img-02.png") %>
                                </span>
                                <span class="text">BASEBALL/SOFTBALL</span>
                            </span>
                </label>
              </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <form action="#" class="nice-form card-area">
                <label for="check-3">
                  <input id="check-3" checked="checked" type="checkbox">
                  <span class="fake-input"></span>
                            <span class="fake-label">
                                <span class="image-holder">
                                  <%= image_tag("img-03.png") %>
                                </span>
                                <span class="text">BASEBALL/SOFTBALL</span>
                            </span>
                </label>
              </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <form action="#" class="nice-form card-area">
                <label for="check-4">
                  <input id="check-4" checked="checked" type="checkbox">
                  <span class="fake-input"></span>
                            <span class="fake-label">
                                <span class="image-holder">
                                  <%= image_tag("img-04.png") %>
                                </span>
                                <span class="text">BASEBALL/SOFTBALL</span>
                            </span>
                </label>
              </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <form action="#" class="nice-form card-area">
                <label for="check-5">
                  <input id="check-5" checked="checked" type="checkbox">
                  <span class="fake-input"></span>
                            <span class="fake-label">
                                <span class="image-holder">
                                  <%= image_tag("img-05.png") %>
                                </span>
                                <span class="text">BASEBALL/SOFTBALL</span>
                            </span>
                </label>
              </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <form action="#" class="nice-form card-area">
                <label for="check-6">
                  <input id="check-6" checked="checked" type="checkbox">
                  <span class="fake-input"></span>
                            <span class="fake-label">
                                <span class="image-holder">
                                  <%= image_tag("img-06.png") %>
                                </span>
                                <span class="text">BASEBALL/SOFTBALL</span>
                            </span>
                </label>
              </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <form action="#" class="nice-form card-area">
                <label for="check-7">
                  <input id="check-7" checked="checked" type="checkbox">
                  <span class="fake-input"></span>
                            <span class="fake-label">
                                <span class="image-holder">
                                  <%= image_tag("img-07.png") %>
                                </span>
                                <span class="text">BASEBALL/SOFTBALL</span>
                            </span>
                </label>
              </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <form action="#" class="nice-form card-area">
                <label for="check-8">
                  <input id="check-8" checked="checked" type="checkbox">
                  <span class="fake-input"></span>
                            <span class="fake-label">
                                <span class="image-holder">
                                  <%= image_tag("img-08.png") %>
                                </span>
                                <span class="text">BASEBALL/SOFTBALL</span>
                            </span>
                </label>
              </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <form action="#" class="nice-form card-area">
                <label for="check-9">
                  <input id="check-9" checked="checked" type="checkbox">
                  <span class="fake-input"></span>
                            <span class="fake-label">
                                <span class="image-holder">
                                  <%= image_tag("img-09.png") %>
                                </span>
                                <span class="text">BASEBALL/SOFTBALL</span>
                            </span>
                </label>
              </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <form action="#" class="nice-form card-area">
                <label for="check-10">
                  <input id="check-10" checked="checked" type="checkbox">
                  <span class="fake-input"></span>
                            <span class="fake-label">
                                <span class="image-holder">
                                  <%= image_tag("img-10.png") %>
                                </span>
                                <span class="text">BASEBALL/SOFTBALL</span>
                            </span>
                </label>
              </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <form action="#" class="nice-form card-area">
                <label for="check-11">
                  <input id="check-11" checked="checked" type="checkbox">
                  <span class="fake-input"></span>
                            <span class="fake-label">
                                <span class="image-holder">
                                  <%= image_tag("img-11.png") %>
                                </span>
                                <span class="text">BASEBALL/SOFTBALL</span>
                            </span>
                </label>
              </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <form action="#" class="nice-form card-area">
                <label for="check-12">
                  <input id="check-12" checked="checked" type="checkbox">
                  <span class="fake-input"></span>
                            <span class="fake-label">
                                <span class="image-holder">
                                  <%= image_tag("img-12.png") %>
                                </span>
                                <span class="text">BASEBALL/SOFTBALL</span>
                            </span>
                </label>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>