<div id="header">
  <div class="container">
    <ul class="login-area">
      <li class="item1"><a href="#">Item1</a></li>
      <%- if user_signed_in?%>
        <li class="signin"><%=link_to "Sign Out", :destroy_user_session%></li>
      <%else%>  
        <li class="signin"><%= link_to 'Sign In', :new_user_session, remote: true %></li>
      <%end%>
    </ul>
  </div>
</div>
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%=link_to(image_tag("logo.png", :alt => "img"), :root, class: "navbar-brand") %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path%></li>
          <li class="active"><%=link_to "Sports",      :sports, class: "active"%></li>
          <li><%=link_to "Gender",      :genders, class: ""%></li>
          <li><%=link_to "CATEGORY",    :categories, class: ""%></li>
          <li><%=link_to "Style",       :styles, class: ""%></li>
          <li><%=link_to "Design",      :designs%></li>
          <li><%=link_to "Options",     :options%></li>
          <li><%=link_to "Decoration",  :decorations%></li>
          <li><%=link_to "Summary",     :summaries%></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>